fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
bcrypt
python-multipart
pydantic
pydantic-settings
aiofiles

# ID scanning + face verification
passporteye
opencv-python-headless
Pillow
numpy
face_recognition
